@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row justify-content-center">
    <div class="col">
        <h1>HTTP Header</h1>
        <div class="table-responsive">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Header</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var header in Request.Headers)
                    {
                        <tr>
                            <td>@header.Key</td>
                            <td>@header.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
